{% extends 'base.html' %}

{% block content%}
<div class="row bg-transparent">
        <div class="col-md-6">
            <div class="card border-info mb-3 mt-4 ml-4">
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-thumbnail img-fluid" src={{ imgsrc }} alt="">
                    </div>
                    <div class="card-body text-dark">
                        <h4 class="card-title">{{ content.title }}</h4>
                        <p class="card-text">Text</p>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}