<table cellpadding="20" align="left"
       style="box-sizing: border-box;border-collapse: collapse;  width:300px; border-right: 2px dotted skyblue;">
    <tr style="box-sizing: border-box;page-break-inside: avoid;">
        <td style="box-sizing: border-box;"><img class="img-fluid img-thumbnail"
                                                 style="box-sizing: border-box;vertical-align: middle;page-break-inside: avoid;max-width: 100%;height: auto;padding: .25rem;background-color: #fff;border: 1px solid #dee2e6;border-radius: .25rem;"
                                                 src={{ movie.imgsrc }}>
        </td>
    </tr>
</table>
<table width="440" cellpadding="20" align="right" style="box-sizing: border-box;border-collapse: collapse;">
    <tr style="box-sizing: border-box;page-break-inside: avoid;">
        <td style="box-sizing: border-box;"><h4 class="card-title"
                                                style="box-sizing: border-box;margin-top: 0;margin-bottom: .75rem;font-weight: 500;line-height: 1.2;font-size: 1.5rem; font-family: Roboto, Arial, sans-serif">
            <u style="box-sizing: border-box;">{{ movie.title }}</u></h4>
            <p class="card-text"
               style="box-sizing: border-box;margin-top: 0;margin-bottom: 1rem;orphans: 3;widows: 3;"><span
                    class="lead" style="box-sizing: border-box;font-size: 1.0rem;font-weight: 300;">Director: </span>
                <span style="font-family: Roboto, Arial, sans-serif">{{ movie.director }}</span>
            </p>
            <p class="card-text"
               style="box-sizing: border-box;margin-top: 0;margin-bottom: 1rem;orphans: 3;widows: 3;"><span
                    class="lead" style="box-sizing: border-box;font-size: 1.0rem;font-weight: 300;">Cast: </span>
                <span style="font-family: Roboto, Arial, sans-serif">{{ movie.cast }}</span>
            </p>
            <p class="card-text"
               style="box-sizing: border-box;margin-top: 0;margin-bottom: 1rem;orphans: 3;widows: 3;"><span
                    class="lead" style="box-sizing: border-box;font-size: 1.0rem;font-weight: 300;">My Rating: </span>
                <span style="font-family: Roboto, Arial, sans-serif">{{ movie.my_rating }}
                                out of 5</span></p>
            <p style="box-sizing: border-box;margin-top: 0;margin-bottom: 1rem;orphans: 3;widows: 3;"><span
                    class="lead" style="box-sizing: border-box;font-size: 1.0rem;font-weight: 300;">Genres: </span>
                <span style="font-family: Roboto, Arial, sans-serif">{{ movie.genres }}</span>
            </p>
            <p style="box-sizing: border-box;margin-top: 0;margin-bottom: 1rem;orphans: 3;widows: 3;"><span
                    class="lead" style="box-sizing: border-box;font-size: 1.0rem;font-weight: 300;">Runtime: </span>
                <span style="font-family: Roboto, Arial, sans-serif">{{ movie.runtime }}</span>
            </p>
            <p style="box-sizing: border-box;margin-top: 0;margin-bottom: 1rem;orphans: 3;widows: 3;"><span
                    class="lead"
                    style="box-sizing: border-box;font-size: 1.0rem;font-weight: 300;">IMDB Rating: </span>
                <span style="font-family: Roboto, Arial, sans-serif">{{ movie.imdb_rating }} out of 10</span>
            </p>
            <p style="box-sizing: border-box;margin-top: 0;margin-bottom: 1rem;orphans: 3;widows: 3;"><span
                    class="lead"
                    style="box-sizing: border-box;font-size: 1.0rem;font-weight: 300;">Trailer Link: </span>
                <a style="box-sizing: border-box;color: #007bff;text-decoration: underline;background-color: transparent;"
                   href={{ movie.trailer_link }}>{{ movie.trailer_link }}</a>
            </p>
            <p><span class="lead"
                     style="box-sizing: border-box;font-size: 1.0rem;font-weight: 300;">External Links: </span><a
                    href={{ movie.imdb_link }}> IMDB Link</a>
                <a href={{ movie.rotten_tomatoes_link }}>Rotten Tomatoes Link</a>
            </p>
        </td>
    </tr>
</table>